<div class="container">
    <div class="date mb-5">
        <button mat-icon-button (click)="changeDays(-1)">
            <i class="material-icons">keyboard_arrow_left</i>
        </button> {{day | date}}
        <button mat-icon-button (click)="changeDays(1)">
            <i class="material-icons">keyboard_arrow_right</i>
        </button>
    </div>
    <div *ngIf="fetchingData" class="center mt-5">
        <mat-spinner [diameter]="180"></mat-spinner>
    </div>
    <div *ngIf="!fetchingData">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let meal of meals; let i = index" #exp [style.background-color]="meal.panelColor">
                <mat-expansion-panel-header [expandedHeight]="'80px'" [collapsedHeight]="'70px'" [style.background-color]="meal.panelColor">
                    <mat-panel-title>
                        <!-- <mat-form-field mb-5>
                            <input matInput value="{{meal.name}}" autocomplete="off">
                        </mat-form-field> -->
                        <button mat-icon-button [disabled]="meal.deleteForbid" (click)="deleteMeal(meal.id, exp)" class="center">
                            <i class="material-icons">delete</i>
                        </button>
                    </mat-panel-title>
                    <mat-panel-description class="date">
                        <span></span>
                        <div class="container">
                            Meal no. {{i+1}}
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-table [dataSource]="meal.ingriedients" class="mat-elevation-z8" *ngIf="meal.ingriedients.length>0" [style.background-color]="meal.tableColor">
                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>
                            <div class="d-none d-sm-block">Name</div>
                            <div class="d-block d-sm-none">N</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div class="d-none d-sm-block">{{element.product.name}}</div>
                            <div class="d-block d-sm-none"><button mat-icon-button (click)="tooltip.toggle()" [matTooltip]="element.product.name" class="center" #tooltip="matTooltip">
                                <i class="material-icons">info</i> 
                            </button></div>
                        </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="calories">
                        <mat-header-cell *matHeaderCellDef>
                            <div class="d-none d-sm-block">Kcal</div>
                            <div class="d-block d-sm-none">Kc</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.product.calories*element.quantity/100}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef>
                            <div class="d-none d-sm-block">Quantity(g)</div>
                            <div class="d-block d-sm-none">Q(g)</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="protein">
                        <mat-header-cell *matHeaderCellDef>
                            <div class="d-none d-sm-block">Protein(g))</div>
                            <div class="d-block d-sm-none">P(g)</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.product.protein*element.quantity/100 | number: '1.2-2'}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="fat">
                        <mat-header-cell *matHeaderCellDef>
                            <div class="d-none d-sm-block">Fat(g))</div>
                            <div class="d-block d-sm-none">F(g)</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.product.fat*element.quantity/100 | number: '1.2-2'}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="carb">
                        <mat-header-cell *matHeaderCellDef>
                            <div class="d-none d-sm-block">Carbs(g))</div>
                            <div class="d-block d-sm-none">C(g)</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.product.carbs*element.quantity/100 | number: '1.2-2'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="d-flex justify-content-end">
                            <div>
                                <button (click)="removeIngriedient(meal, element.id)" class="center close">
                                    <div>&times;</div>
                                    <!-- <i class="material-icons">cancel</i> -->
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <button mat-button (click)="addIngriedient(meal)" class="mt-3">Add new ingriedient</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<button mat-fab class="floating-button" (click)="addMeal()"><i class="material-icons">add</i></button>