.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date {
    text-align: center;
}

.spinner {
    display: flex;
    justify-content: center;
}

.mat-panel-description {
    display: flex;
    justify-content: center;
}