.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.mat-panel-description {
    display: flex;
    justify-content: center;
}

.mat-cell {
    align-items: center;
    font-size: 12px
}

.cell {
    display: flex;
    justify-content: right;
}

.mat-column-delete {
    flex: 0 0 40px !important;
}

.mat-header-cell,
.mat-cell {
    display: flex;
    justify-content: center;
}

.mat-header-cell:first-of-type {
    padding-left: 16px;
}

.mat-cell:first-of-type {
    padding-left: 16px;
}

.floating-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 4.5em;
    height: 4.5em;
    max-width: 250px;
    max-height: 250px;
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}