.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
}

.floating-button {
    /* position: fixed;
    bottom: 5vw;
    right: 5%; */
    transform: scale(1.02);
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    margin-top: 20px;
}

.floating-button-large {
    transform: scale(1.5);
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    color: white;
    justify-content: space-evenly;
    font-weight: 400;
    margin-top: 27px !important;
}