<div class="container">
    <h1 class="text-left mb-3">Products</h1>

    <p *ngIf="!products"><em>Loading...</em></p>

    <!-- <form>
        <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
            <thead>
                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Name" [(ngModel)]="formProduct.name" name="name">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Calories" [(ngModel)]="formProduct.calories" name="calories">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Protein" [(ngModel)]="formProduct.protein" name="protein">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Fat" [(ngModel)]="formProduct.fat" name="fat">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Carbs" [(ngModel)]="formProduct.carbs" name="carbs">
                        </mat-form-field>
                    </td>
                    <td>
                        <button mat-button class="ml-3" (click)="onSubmit()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>Protein</th>
                    <th>Fat</th>
                    <th>Carbs</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let product of products">
                    <td>{{ product.name }}</td>
                    <td>{{ product.calories }}</td>
                    <td>{{ product.protein }}</td>
                    <td>{{ product.fat }}</td>
                    <td>{{ product.carbs }}
                    </td>

                    <td>
                        <button mat-button class="ml-3" (click)="onDelete(product.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </form> -->

</div>
<mat-chip-list class="d-none d-lg-inline">
    <div class="floating-buttons">
        <mat-chip class="floating-button-large" [routerLink]='["/mealcalendar"]'><i class=" material-icons ">calendar_today</i>Manage meals</mat-chip>
        <mat-chip class="floating-button-large"><i class=" material-icons ">add</i> Add new product </mat-chip>
    </div>
</mat-chip-list>

<div class="floating-buttons">
    <button mat-fab class=" floating-button d-inline d-lg-none " [routerLink]='["/mealcalendar"]'><i
            class="material-icons ">calendar_today</i></button>
    <button mat-fab class=" floating-button d-inline d-lg-none "><i class="material-icons ">add</i></button>
</div>