<div class="container" *ngIf="computed; else computing">
    <div class="mt-2">

        <h1 class="text-center header">Today's calories left:</h1>
        <h2 class="text-center" counto [step]="1" [countTo]="-macro.caloriesAte+macro.caloriesDemand" [countFrom]="(-macro.caloriesAte+macro.caloriesDemand)/2" [duration]="0.1" (countoChange)="counto = $event">
            {{counto | number :'1.0-0'}}</h2>
        <h1>which means you ate <b>{{macro.caloriesAte}}</b> out of <b>{{macro.caloriesDemand}}</b> kcal.</h1>

        <div class="mt-3 text-left">
            Carbohydrates:<br>
            <div class="d-flex justify-content-between">
                <p class="mb-0">{{macro.carbohydratesAte}} g</p>
                <p class="mb-0 warn-comment">{{warnComment(macro.carbohydratesAte-macro.carbohydratesDemand, " g")}}</p>
                <p class="mb-0">{{macro.carbohydratesDemand}} g</p>
            </div>
            <mat-progress-bar class="mb-3" mode="determinate " [value]="macro.carbohydratesRatio" [color]="updateColor(macro.carbohydratesRatio)">
            </mat-progress-bar>
            Fat:<br>
            <div class="d-flex justify-content-between">
                <p class="mb-0">{{macro.fatAte}} g</p>
                <p class="mb-0 warn-comment">{{warnComment(macro.fatAte-macro.fatDemand, " g")}}</p>
                <p class="mb-0">{{macro.fatDemand}} g</p>
            </div>
            <mat-progress-bar class="mb-3" mode="determinate " [value]="macro.fatRatio" [color]="updateColor(macro.fatRatio)">
            </mat-progress-bar>
            Protein:<br>
            <div class="d-flex justify-content-between">
                <p class="mb-0">{{macro.proteinAte}} g</p>
                <p class="mb-0 warn-comment">{{warnComment(macro.proteinAte-macro.proteinDemand, " g")}}</p>
                <p class="mb-0">{{macro.proteinDemand}} g</p>
            </div>
            <mat-progress-bar class="mb-3" mode="determinate " [value]="macro.proteinRatio" [color]="updateColor(macro.proteinRatio)">
            </mat-progress-bar>
            Kcal:<br>
            <div class="d-flex justify-content-between">
                <p class="mb-0">{{macro.caloriesAte}} kcal</p>
                <p class="mb-0 warn-comment">{{warnComment(macro.caloriesAte-macro.caloriesDemand, " kcal")}}</p>
                <p class="mb-0">{{macro.caloriesDemand}} kcal</p>
            </div>

            <mat-progress-bar class="mb-3 mat-color" mode="determinate" [value]="macro.caloriesRatio" [color]="updateColor(macro.caloriesRatio)">
            </mat-progress-bar>
        </div>
    </div>
</div>
<ng-template #computing class="container mt-5">
    <mat-spinner [diameter]="180" class="container mt-5"></mat-spinner>
</ng-template>