.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background: -webkit-linear-gradient(#0cebeb, #20e3b2, #29ffc6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 27px;
}